* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 90%;
  height: 10%;
  margin: auto;
  align-items: center;
}

.cart,
.nav-links,
.logo-container {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo-picture {
  width: 50px;
  height: 50px;
}
nav {
  flex: 2;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: gray;
  font-size: 18px;
  text-decoration: none;
}

.nav-link:hover {
  color: crimson;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.cart img {
  width: 30px;
}

.cart img:hover {
  width: 32px;
  cursor: pointer;
}

.main-container {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 80%;
}

.intro {
  flex: 1;
}

.intro h1 {
  font-size: 50px;
  font-weight: 500;
}

.intro p {
  font-size: 22px;
  color: gray;
  margin-top: 10px;
}

.button {
  padding-top: 50px;
}

.button-1 {
  background: transparent;
  color: black;
  color: gray;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid lightgray;
}

.button-2 {
  background: lightblue;
  color: gray;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid lightgray;
}

.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60%;
}

.iphone {
  height: 100%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.item-select {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-select img {
  margin: 20px;
}

.item-select img:hover {
  cursor: pointer;
}

.big-circle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 80%;
  opacity: 0.3;
}
.mid-circle {
  position: absolute;
  top: 30%;
  right: 30%;
}
.small-circle {
  position: absolute;
  bottom: 0;
  left: 20%;
}
